<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>HuZheng</string>
		<key>title</key>
		<string>户政类</string>
		<key>typeKey</key>
		<string>hzc</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ZhiAn</string>
		<key>title</key>
		<string>治安类</string>
		<key>typeKey</key>
		<string>zac</string>
	</dict>
	<dict>
		<key>typeKey</key>
		<string>crj</string>
		<key>image</key>
		<string>ChuRuJing</string>
		<key>title</key>
		<string>出入境类</string>
	</dict>
	<dict>
		<key>typeKey</key>
		<string>jgj</string>
		<key>image</key>
		<string>JiaoGuan</string>
		<key>title</key>
		<string>交管类</string>
	</dict>
	<dict>
		<key>typeKey</key>
		<string>xfj</string>
		<key>image</key>
		<string>XiaoFang</string>
		<key>title</key>
		<string>消防类</string>
	</dict>
	<dict>
		<key>typeKey</key>
		<string>jdc</string>
		<key>image</key>
		<string>JinDu</string>
		<key>title</key>
		<string>禁毒类</string>
	</dict>
	<dict>
		<key>typeKey</key>
		<string>wjc</string>
		<key>image</key>
		<string>WangJian</string>
		<key>title</key>
		<string>网监类</string>
	</dict>
	<dict>
		<key>typeKey</key>
		<string>xtc</string>
		<key>image</key>
		<string>XinTong</string>
		<key>title</key>
		<string>信通类</string>
	</dict>
	<dict>
		<key>typeKey</key>
		<string>nbc</string>
		<key>image</key>
		<string>NeiBao</string>
		<key>title</key>
		<string>内保类</string>
	</dict>
</array>
</plist>
